body {
    margin: 0px;
}

.bcon{
    display: flex;
    background-color: pink;
    justify-content: space-around;
}

.disc {
    padding: 170px 40px 130px 170px;


}

.title {
    color: black;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800px;
    margin: 0px;

}

.para {
    color: dimgrey;
    font-family: Lato;
    font-size: 18px;

}

.pic {
    width: 630px;
    height: 800px;
    padding: 50px 240px 0px;

}

.p-btn {
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcoral;
    border-radius: 5px;
    padding: 20px 45px;
    border: 0px;
    cursor: pointer;
}

.main1 {
    text-align: center;
    padding-top: 20px;
}

.fh {
    font-size: 60px;
}

.p {
    font-size: 18px;
}

.box {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    padding-right: 200px;
}

.pic1 {
    background-color: lightpink;
    border-radius: 200px 200px 0px 0px;
    padding: 40px;
    width: 320px;
    height: 400px;
    margin: 0px 10px;

}
.pic2 {
    background-color: lightblue;
    border-radius: 200px 200px 0px 0px;
    padding: 40px;
    width: 320px;
    height: 400px;
    margin: 0px 10px;

}

.pic3 {
    background-color: lightcoral;
    border-radius: 200px 200px 0px 0px;
    padding: 40px;
    width: 320px;
    height: 400px;
    margin: 0px 10px;
}
.pink{
    text-align: center;
    text-decoration: underline;
}


.offer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 192, 203, 0.596);
    text-align: center;
    align-items: center;
}

.s-btn {
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: hotpink;
    border-radius: 5px;
    padding: 20px 45px;
    border: 0px;
    cursor: pointer;
}

.title3 {
    color: #000;
    font-size: 40px;
}

.para3 {
    font-size: 20px;
    color: #857e7e;
}

.main3 {
    text-align: center;
}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recpic {
    margin: 10px;
}

.beck {
    background-image: url(Rectangle\ 9.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    padding: 80px 0px;
    border-radius: 20px;
    margin: 50px;
}

.get {
    color: #111010;
    font-size: 50px;
    letter-spacing: .5rem;
}

.coupon {
    color: #857e7e;
    font-size: 20px;
}

input {
    width: 500px;
    height: 40px;
}

.subbtn {
    color: #000;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color:antiquewhite;
    border-radius: 5px;
    padding: 20px 45px;
    border: 0px;
    cursor: pointer;
}

footer {
    background-color: #111010;
    height: 200px;
    margin: 20px 0px 0px 0px;
    text-align: center;
}
.text{
    color:rgb(202, 43, 43);
}
.foot {
    color: #fff;
}