body {
    margin: 0px;
}

header {
    display: flex;
    background-color: pink;
    width: auto;
    height: 850px;
}

.disc {
    padding: 170px 40px 130px 170px;


}

.title {
    color: black;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800px;
    margin: 0px;

}

.para {
    color: dimgrey;
    font-family: Lato;
    font-size: 18px;

}

.pic {
    width: 630px;
    height: 800px;
    padding: 50px 240px 0px;

}

.p-btn {
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcoral;
    border-radius: 5px;
    padding: 20px 45px;
    border: 0px;
    cursor: pointer;
}

.main1 {
    text-align: center;
    padding-top: 20px;
}

.fh {
    font-size: 60px;
}

.p {
    font-size: 18px;
}

.box {
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
}

.pic1 {

    width: 280px;
    height: 390px;
    padding-top: 110px;
    padding-left: 45px;

}

.pic2 {
    width: 350px;
    height: 350px;
    padding-top: 90px;
    padding-left: 30px;

}

.pic3 {

    height: 470px;
    width: 314px;
    padding-top: 29px;
    padding-left: 35px;

}

.box1 {
    background-color: rgba(218, 107, 107, 0.404);
    border-radius: 220px 250px 0px 0px;
    width: 400px;
    height: 500px;
}

.box2 {
    background-color: rgba(133, 190, 209, 0.24);
    border-radius: 220px 250px 0px 0px;
    width: 400px;
    height: 500px;

}

.box3 {
    background-color: rgba(130, 221, 130, 0.521);
    border-radius: 220px 250px 0px 0px;
    width: 400px;
    height: 500px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.f2 {
    padding: 0px 450px 0px 450px;
}

.f1 {
    padding-left: 20px;
}

.f3 {
    padding-right: 100px;
}

.offer {
    display: flex;
    justify-content:space-around;
    background-color: rgba(255, 192, 203, 0.596);
    text-align: center;
    align-items: center;
}

.title3 {
    color: #000;
    font-size: 40px;
}

.para3 {
    font-size: 20px;
    color: #857e7e;
}

.main3 {
    text-align: center;
}

.rectangle {
    display: flex;
    justify-content:center;
    align-items: center;
    /* margin:5px; */

}
.recpic{
    margin: 10px;
}
.beck {
    color: #272727;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 800;
}

footer {
    background-color: #111010;
}

.foot {
    text-align: center;
    color: #fff;
    padding: 50px;
}